---
---

@import "theme";
@import "mixins";

section {
  box-sizing: content-box;
  padding: 60px Max(40px, calc((100% - #{$page}) / 2));
  text-align: center;

  &[data-full="true"] {
    padding: 0;
  }
}

section:nth-of-type(even) {
  background: $white;
}

section:nth-of-type(even) {
  background: $gray-50;
}

section:last-of-type {
  flex-grow: 1;
}
